<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Rushi Suite">
  <test thread-count="5" name="Rushi test">
    <classes>
      <class name="auto_testing.RegistrationTest"/>
      <class name="auto_testing.RegistrationTestsecond"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
